<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Apr 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/single_board_computers/picmg_13/core_2_duo-quad/pcie_h810.html" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/7b55bde6-c504-4cc1-9a6c-7e4469deb992.jpg?ver=1430342105000" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- ___________________ left column ________________________ -->

      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#BCCDE7;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:brown;">
      Product Spotlight
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/3e8d1e82-5766-4eff-a304-293bb46cffca.jpg?ver=1430342105000" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>PCIE-H810</b></span><br>
      Full-size PICMG 1.3 CPU card supports LGA1150 Intel(C) Core(Tm) i7/i5/i3, Pentium(C) and Celeron(C) per Intel(C) H81, DDR3, VGA, iDP, Dual PCIe GbE, SATA 6Gb/s, mSATA, USB 3.0, RS-232, HD Audio and RoHS
 &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/picmg_13/core_2_duo-quad/pcie_h810.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/PCIE-H810_20150416.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#6E809A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:lightgreen;">
      Hot Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/mobile_products/automotive_products/mbox_6000.html">MBOX-6000</a>, Intel D2550 Dual Core 1.86GHz Marine Box Computer </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/COM_Express/module/ice_bt-t10.html">ICE-BT-T10</a>, COM Express Rev 2.1 Mini Size Type 10 Module, Intel(C) 4th Generation Atom(Tm) Processor, VGA, DDI, GbE, SATA 3Gb/s, USB and Audio, -40 deg C to +85 deg C and RoHS </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/mobile_products/automotive_products/vbox_3610_poe.html">VBOX-3610-POE</a>, Intel Gen4 Core i7 CPU up to 3.3GHz with HD 5000 GPU and 4 x POE Ports On-Board Computer </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#EBAFA8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkcyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>DM Series Mounting Kits<li>ICE-945GSE-N270<li>TANK-101BW-R11/D525
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>AFL-xxx-HM55 Series<li>uIBX-210 Series<li>ECW-281B/B2 Series<li>AFL-F08A<li>RHD-302SATA<li>IOVU-572M-CE6<li>AFL2-12A-D525
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#AAB480;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

ICP America has launched a new line of Vehicle Specific Embedded Computer Systems. Each unit focuses on the unique needs of a vehicle based application from extreme temperature changes to rugged power requirements. 
<br><br>For more information on our Automotive Based Products Contact our Sales Department at 877-293-2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a><br><br><center><img src='https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/1196d6e5-4e07-45a9-bcb3-aed72df5b6ee.jpg?ver=1430342105000'></center>


</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#939A76; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
