<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Feb 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w10a_n28.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/12.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/13.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>AFL2-W10A-N28</b></span><br>
      10.2" 400cd/m² WSVGA fanless panel PC with Intel(R) Atom(TM) cedarview N2800 dual core 1.86GHz, 802.11b/g/n wireless module, resistive touch screen, 1.3M camera, microphone, 2GB DDR3 RAM, R10
      &nbsp;<a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w10a_n28.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/files/AFL2-W10A-N28_20121126.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/5.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
          New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">
<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w10a_n28.html>AFL2-W10A-N28</a>, Fanless Panel PC<br />
<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_17a_h61.html>AFL2-17A-H61</a>, SXGA panel PC<br />
<a href=http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_3708a_n26.html>PPC-3708A-N26</a>, SVGA Panel PC<br />
<a href=http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_cv_d25502.html>WAFER-CV-D25502</a>, 3.5” SBC<br />
<a href=http://www.icpamerica.com/products/single_board_computers/COM_Express/module/ice_cv_d25502.html>ICE-CV-D25502</a>, COM Express Module<br />
<a href=http://www.icpamerica.com/products/chassis/bare_bone/drpc_100.html>DRPC-100</a>, DIN Mount PC<br />

          </p></span>
        </td></tr></table>


      <!-- major 2 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<b>EOL Product List</b>
<ul style="margin:0px;padding-bottom:4px;">
<li>ACE-723T
</ul>

<b>PCN Product List</b>
<ul style="margin:0px;">
<li>IMB-Q670-R20
</ul>
    
  </td></tr></table>
      

    </td>


      <!-- right column -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<b><i>Did you know ICP America has 3 Product Divisions?</i></b><br>
<b><i>ICP MOBILE:</i></b> A large variety of Mobile Computing Products ranging from Hand Held PDA’s to Fleet Management Mobile PC’s.
<a href="http://www.icpmobile.com">www.icpmobile.com</a><br>
<b><i>ICP ADS:</i></b> Our Digital Signage Division targets Enterprise based applications with a focus on Video Wall Controllers designed to plug and play.
<a href="http://www.icpads.com">www.icpads.com</a><br>
<b><i>MCSI-Embedded Division:</i></b> Our Embedded Division supports many legacy products as well as provides Design and Development Services for Custom Applications.
<a href="http://www.mcsi1.com">www.mcsi1.com</a><br>
<br>
For additional information contact us today at 877-293-2000


</P>
  </td></tr></table>


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:#96526B;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:#96526B">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
