<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jul 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/upc_v315_qm77.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/23.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF8B2E;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:green;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/24.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>UPC-V315-QM77</b></span><br>
      15" 400cd/m² XGA fanless full IP65 panel PC with Mobile Intel(c) QM77 Express Chipset and Intel(c) Core(TM)) i7-3517UE Processor, 802.11a/b/g/n wireless module, resistive touch screen, 2-mgeapixel camera, microphone, 2GB DDR3 RAM, R10
      &nbsp;<a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/upc_v315_qm77.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/files/UPC-V315-QM77_20130611.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#7A7D99;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
          Top Five Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/AFL2-10A-N28_20130204.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w10a_n28.html>AFL2-W10A-N28</a>, Fanless panel PC 
  
  
  <br />
<a href="http://www.icpamerica.com/files/TANK-820-H61_20130225.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_820_h61.html>TANK-820-H61</a>, Extend temperature 3-Slot Embedded System 
  
  
  <br />
<a href="http://www.icpamerica.com/files/NANO-HM651_20130409.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/EPIC/nano_hm651.html>NANO-HM651</a>, EPIC SBC 
  
  
  <br />
<a href="http://www.icpamerica.com/files/TANK-600-D2550N2600_20130419.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_600_d2550_n2600.html>TANK-600-D2550/N2600</a>, Extend temperature Fanless embedded system 
  
  
  <br />
<a href="http://www.icpamerica.com/files/IMBA-640EP_20130521.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_c604ep.html>IMBA-C604EP</a>, ATX server board  
  
  
  <br />

          </p></span>
        </td></tr></table>

      

    </td>


      <!-- right column -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">



      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#4BB7FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


WIDS Series Heavy Industrial Panel PC’s provide users with a unique all-in-one solution. Our WIDS Series has been developed specifically for Heavy Industrial Applications where environmental concerns are high. The WIDS-515 & WIDS-517 are both designed around the Intel(c) H61 Express Chipset with 2nd/3rd Generation Intel(c) Core(TM), Pentium(c) and Celeron(c) 35W/45W/65W processor support.  For more details please contact ICP America today! 1-877-293-2000 or <a link='mailto:sales@icpamerica.com'>sales@icpamerica.com</a>


</P>
  </td></tr></table>


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#444ECC; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:white">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
