<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Aug 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_nm701_1007u.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/25.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF8B2E;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:green;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/27.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>WAFER-NM701-1007U</b></span><br>
      3.5" SBC with on-board Intel(c) Celeron(c) Dual-core 1007U 1.5GHz Processor, DDR3, VGA/LVDS, Dual GbE, USB 2.0, mSATA, SATA 3GB/s and Audio
      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_nm701_1007u.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/files/WAFER-NM701-1007U_20130801.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#7A7D99;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
          New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/WAFER-NM701-1007U_20130801.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_nm701_1007u.html>WAFER-NM701-1007U</a>, 3.5\"SBC 
  
  
  <br />
<a href="http://www.icpamerica.com/files/KINI-AQ870_20130819.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_aq870.html>KINO-AQ870</a>, Mini-ITX SBC 
  
  
  <br />
<a href="http://www.icpamerica.com/files/IOVU-430S_20130501.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/RISC_based_panel_pc/iovu_430s.html>IOVU-430S</a>, RISC Panel PC 
  
  
  <br />

          </p></span>
        </td></tr></table>

      

    </td>


      <!-- right column -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">



      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#4BB7FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<b><i>New from ICP Mobile Computing!!</i></b><br>
The ICEFIRE2 10.4" Mobile Clinic Assistant is a compact tablet PC integrated with advanced data acquisition and wireless technologies that allow healthcare professionals to provide real time point-of-care treatment for both indoor and outdoor medical cases. &nbsp; For more information visit: <a href='http://www.icpmobile.com'>www.icpmobile.com</a> or call 877-239-2000

</P>
  </td></tr></table>


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#444ECC; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:white">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
