<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Dec 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/default.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/34.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      Top 5 of 2013
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/TANK-820-H61_20130225.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_820_h61.html>TANK-820-H61</a>, <img alt='' src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/32.jpg' align='right' hspace='10px'>
      Extend temperature 3-Slot Embedded System for 2nd Generation Intel(R) Core(Tm) low power desktop processors,TDP 35W, Dual 9-24V DC-IN, 2GB DDR3 Memory on-board, -20°C~60°C
       
  
  
  <br />
<a href="http://www.icpamerica.com/files/IOVU-430S_20130501.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/RISC_based_panel_pc/iovu_430s.html>IOVU-430S</a>, RISC Panel PC, 4.3\" LCD, ARM S3C2416X40-Y640 400MHz CPU, 128MB SDRAM,optional 802.11b/g WiFi function, Win CE6.0, RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/files/NANO-HM651_20130409.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/EPIC/nano_hm651.html>NANO-HM651</a>, EPIC SBC supports Intel(R) Celeron(R) dual core 847E 1.1GHz CPU, dual HDMI/VGA/LVDS, dual GbE, USB 3.0, PCIe Mini, SATA 6Gb/s and Audio 
  
  
  <br />
<a href="http://www.icpamerica.com/files/IMBA-C604EP_20130521.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_c604ep.html>IMBA-C604EP</a>, ATX server board supports 32nm LGA2011 Intel(R) Xeon(R) E5 series up to 8 cores CPU with Intel(R) C604, DDR3, VGA, dual Intel(R) PCIe GbE, PCIe Gen 3.0, SAS 3Gb/s, SATA 6Gb/s, SATA 3Gb/s, USB 2.0, HD Audio and RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/files/PCIE-H610_20120229.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/picmg_13/core_2_duo-quad/pcie_h610.html>PCIE-H610</a>, Full-size PICMG 1.3 CPU card Supports 32nm LGA1155 Intel(R) Core(TM) i7/i5/i3/Pentium(R)/Celeron(R) CPU with Intel(R) H61, DDR3, VGA, Dual Realtek PCIe GbE, USB 2.0, SATA 3Gb/s, HD Audio 
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

      

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>



<b>I</b>CP America will be closed December 24th, 2013 at Noon PST through January 1st, 2014 to celebrate the holidays with our families. We will reopen January 2nd, 2014 at 7:00am PST. 


</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#9DE5E8; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
