<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
        
  <tr><td><!-- tab 1 -->

      <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
        <TR>
          <TD style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/38.gif?ver=1389812716000" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jan, 2014</td>
        </tr>
        </TBODY></TABLE>


      <TABLE cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <TBODY>
        <TR vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/" target=_blank> <IMG src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/39.jpg?ver=1389900737000"
      border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <TD style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#96526B;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      ICP America Website
	</td></tr></table>

<!-- Hot product 1 -->
      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      
    <div style="padding:4px 2px; margin:0xp;">Visit the all new <a href="http://www.icpamerica.com">www.icpamerica.com</a></div>
      <IMG alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/36.png?ver=1389812616000" hspace="2px" ">
      
	</td></tr></table>
<!-- close hot product 1 -->
      

    </TD>


      <!-- right column -->

    <TD style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#EBAD60;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
	</td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P style="font-size:14pt;">From all of us at ICP America, we wish you a Happy and Prosperous 2014!
      </P>
      <div style="text-align:center;"><IMG alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/37.png?ver=1389812617000" hspace="2px" /></div>

	</td></tr></table>


      <!-- major 3 -->
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
       <table style="width:100%"><tr><td style="padding:6px;background-color:#8BAB8D; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      Request a Quote
	</td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

	</td></tr></table>

      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
 
      <!-- major 4 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:#96526B;">
	<a href="http://www.icpamerica.com/email_us/default.html" style="color:#96526B">Email Us</a>
	</td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

	<a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
	<a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
	<a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
	</td></tr></table>



    </TD>



  </td></tr></table>

</td></tr></table><!-- close the big table -->
