<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Mar 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_dbt.html" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/0f3fb0de-a4f4-4e9b-bbf8-d441da54faa9.jpg?ver=1427232642000" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Product Spotlight
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/8f2bfe40-3391-4b33-9855-2c442a2f3778.jpg?ver=1427232639000" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>KINO-DBT</b></span><br>
      Mini-ITX SBC supports Intel(C) Atom(Tm) and Intel(C) Celeron(C) processors, VGA/DVI/iDP, Dual Intel(C) PCIe GbE, USB 3.0, SATA, HD Audio and RoHS &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_dbt.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/KINO-DBT.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      Hot Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_f24a_h81.html">PPC-F24-H81</a>, 24" 250 cd/m2 FHD Industrial Panel PC with Intel(C) H81 chipset, 2GB RAM*2, support iRIS-2400, black color, PSU ACE-A622A, projective capacitive touch window, R10 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_860_hm86.html">TANK-860-HM86</a>, Intel(C) Core(Tm) i5/Celeron,TDP 37W, 4GB DDR3 pre-installed memory,2/4/6 Slot Expansion Options,VGA/DVI-I/ DisplayPort, iRIS-2400 optional, 9 V~36 V DC,y RoHS </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/EPIC/nano_se_i1.html">NANO-SE-i1</a>, EPIC SBC supports AMD(C) 28nm quad core GX-424CC 2.4GHz (25W) on-board SoC with VGA/HDMI/LVDS, Dual PCIe GbE, USB 3.0, Dual PCIe Mini, SATA 6Gb/s, mSATA , COM and Audio, iRIS-1010 and RoHS </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

ICP America’s EOL Program provides customers with advanced notification of EOL’s. Our Sales Team closely monitors your requirements and provides you with Last Buy Details, EOL Purchase Order Management and Product Transition Support. Contact our Sales Team today for any questions you may have.

</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>ACE-723A-RS<li>ACE-663A-RS<li>ACE-870C-RS
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>RD-03A/B<li>UPC-V312-D525<li>IOVU-430S-CE6
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
