<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">May 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_600_d2550_n2600.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/19.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#BCCDE7;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:brown;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/20.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>TANK-600-D2550/N2600</b></span><br>
      Extend temperature Fanless embedded system with Intel(R) Cedarview D2550/N2600 Dual Core CPU, with 2 or 4GB DDR3 RAM onboard, 1xVGA, Dual GbE LAN, 6xUSB2.0, and optional 16 or 8 COM Ports,R10, RoHS
      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_600_d2550_n2600.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/files/TANK-600-D2550N2600_20130419.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#AAB480;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
          New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/TANK-600-D2550N2600_20130419.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_600_d2550_n2600.html>TANK-600-D2550/N2600</a>, Fanless embedded system 
  
  
  <br />
<a href="http://www.icpamerica.com/files/IOVU-430S_20130501.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/RISC_based_panel_pc/iovu_430s.html>IOVU-430S</a>, RISC Panel PC 
  
  
  <br />
<a href="http://www.icpamerica.com/files/AFL2-W21-H61_20130502.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w21_h61.html>AFL2-W21-H61</a>, FHD panel PC 
  
  
  <br />

          </p></span>
        </td></tr></table>


      <!-- major 2 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6E809A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:lightgreen;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<p style="margin:1px 0px">
<b>EOL Product List</b>
<li>STAND-A08-RS<li>IOVU-751R-UX/-R10
</p>

<p style="margin:4px 0px 1px 0px;">
<b>PCN Product List</b>
<li>S12ASR Series
</p>
    
  </td></tr></table>
      

    </td>


      <!-- right column -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#EBAFA8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<p style='margin:2px 0px;'>
<b>AFOLUX GEN II Series Industrial Panel Devices with Windows Embedded 8 Support...</b>

</p><p style='margin:3px 0px;'>
The AFOLUX GEN II Series supports the new Windows Embedded 8 operating system. The intuitive user interface and succinct design of the Gen 
II Series makes for a versatile solution for such Industries as Industrial Automation, 
Digital Signage, retail and hospitality Management, and Home Automation.

</p><p style='margin:3px 0px;'>
Contact Our Sales Department today to discuss your requirements at 877.293.2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a>
</p>


</P>
  </td></tr></table>


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#939A76; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:#96526B;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:#96526B">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
