<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jan 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/ea89a3af-9abe-4595-9164-94f73e7b49fd.jpg?ver=1422490474000" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#BCCDE7;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:brown;">
      iRIS Product Spotlight
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/5acd58f2-bb64-49f2-a8c2-ba5d2bdc0641.jpg?ver=1422490206000" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>IEI Remote Intelligent System</b></span><br>
      
IEI iRIS (IEI Remote Intelligent System) is a remote control technology which is IPMI 2.0 compliant. IPMI (Intelligent Platform Management Interface) is a standardized computer system interface for Out-of-Band Management of computer systems and monitoring of their operation. It allows managing power-off or unresponsive systems through network. iRIS is hardware-level remote control technology, so you don’t need go into operating system (OS) or login shell in order to implement remote control.
      </td></tr>

   
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#6E809A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:lightgreen;">
      Hot Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/picmg_13/server_grade/spcie_c2260_i2.html">SPCIE-C2260-i2</a>, Full-size PICMG 1.3 CPU Card supports LGA1150 Intel(C) Xeon(C) E3, Core(Tm) i3, Pentium(C) and Celeron(C) per Intel(C) C226, DDR3, VGA, iDP, Dual Intel(C) PCIe GbE, SATA 6Gb/s, mSATA, PCIe Mini, RS-232, HD Audio, iRIS-2400 and RoHS
 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/micro_atx/imb_q870_i2.html">IMB-Q870-i2</a>, Micro ATX Motherboard supports 22nm LGA1150 Intel(C) Core(Tm) i7/i5/i3/Pentium(C) and Celeron(C) CPU per Intel(C) Q87, DDR3, HDMI/ DVI-D/ VGA / DP, Dual Intel(C) PCIe GbE, USB 3.0, Audio, SATA 6Gb/s, Six Serial Ports, iRIS-2400 and RoHS
 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_da750_i2.html">KINO-DA750-i2</a>, Mini-ITX SBC supports Socket FS1r2 AMD R-series APU with A75, Triple HDMI, DVI, Dual PCIe GbE, USB 3.0, PCIe Mini, SATA 6Gb/s and Audio, iRIS-2400 and RoHS </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_6000_c226.html">TANK-6000-i2</a>, Embedded System with Intel(C) C226 chipset, OLED indicator, two PCIe by 8 expansion, three 2.5" SATA HDD bays, DDR3 U-DIMM 4GB pre-installed (2 x 2GB), iRIS-2400 supported, 19 V/24 V DC, RoHS
 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_f15a_h81.html">PPC-F15A-H81</a>, 15” 400 cd/m² XGA Panel PC with Intel(C) H81 chipset,TDP 53W, 2GB RAM*2, support iRIS-2400, black color, PSU ACE-A622A, resistive or projective capacitive touch window. </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#AAB480;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/3eae2586-269e-4662-8526-fe243a1a3a27.jpg?ver=1422490207000" align='right'>
Chinese Lunar New Year is rapidly approaching (February 18-23), our partners will be closed to observe the holiday. Please make sure to contact your Sales Manager today to get your orders on the books to avoid any shipping delays.



</P>
  </td></tr></table>
      <!-- close major 3 -->
      
      
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#939A76; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
