<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="http://www.icpamerica.com/download/icpanews/Aug 2015/news_support_files/logo_icpa.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Aug 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f15b-bt.html" target=_blank><img src="http://www.icpamerica.com/download/icpanews/Aug 2015/news_support_files/image_big_header.jpg" border=0 ></A></SPAN></P>


        </td></tr> <!-- close tr 1 -->


        <tr vAlign=top><!-- tr 2 -->
          <td colspan=2 style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 10px 6px 10px;">
        
              <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#444ECC;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


August 4, 2015<br><br>
VISTA, CA:  ICP America, Inc. is proud to announce that we have received iEi Electronics “2015 Best Partner” Award. ICP America has been partners with iEi for over 23 years now.  Our partnership has allowed us to offer our customer leading edge products, custom design and manufacturing services and superb project support.<br><br>
Mr. Jordan Jiang (General Manager), Patrick Sung (VP Sales/Marketing) and Iren Shin (VP) presented the award to Lee Ann Franke ( CEO, ICP America) and Al Puglisi (CTO, ICP America), at our Facility in Southern California.  “It has been an honor to work with a Partner, like iEi” Lee Ann Franke commented, “Our relationship with iEi has allowed us to provide our customers the top tier experience they have come to expect from us”.  <br><br>
Moving forward, ICP America is excited to share with our customers the latest solutions for the Mobile Computing, Medical, Marine and Automation Industries. Please contact our Sales Team for a customized Product Quotation today at <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a><br><br>


</P>
  </td></tr></table>
      <!-- close major 3 -->

        </td></tr> <!-- close tr 2 -->

        
    <tr><!-- tr containing major 1, 2 -->

      <!-- ___________________ left column ________________________ -->

      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
