<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jun 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f12b-bt.html" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/6e61a4b5-ef86-4168-9c57-1449b78e9e0f.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- ___________________ left column ________________________ -->

      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Hot Product
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/c0d63772-7af7-4f1f-af02-8bea8cb68c4f.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>PPC-F12B-BT</b></span><br>
      12” 600 cd/m2 XGA panel PC with Intel(C) Celeron(C) processor J1900, TDP 10W, one 2 GB RAM, support iRIS-2400, black color, 9-36V DC input, projected capacitive/resistive touch screen
 &nbsp;<a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f12b-bt.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/PPC-F12B-BT_20150625.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      New Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_h810.html">IMBA-H810</a>, ATX motherboard supports 22nm LGA 1150 4th generation Intel(C) Core(Tm) i7/i5/i3 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl3_12a_bt.html">AFL3-12A-BT</a>, XGA fanless panel PC with Intel(C) Celeron(C) J1900 quad core 2 GHz </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl3_w15a_bt.html">AFL3-W15A-BT</a>, Fanless panel PC with Intel(C) Celeron(C) J1900 quad core 2 GHz </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>AFL2-W15A-N270 Series<li>AFL-17D-N270<li>WS-843GS Series
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>EBC-2101<li>AFL-12A-D525<li>AFL-12A-HM65<li>PPC-37XXA Series<li>TANK-101B Series<li>AFL Series<li>PPC Series
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


ICP America will be closed July 3rd and will reopen Monday, July 6th to celebrate Independence Day.  Please contact your Account Manager with any Product Needs! 877-293-2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a><br><br><center><img src='https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/c635b758-1c40-49f8-b059-6e68b716377e.jpg'></center>


</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
