/*=== hide all login references ====*/
a[class=login], a[class=signup], form .form-inline.log-user, #header-panel { 
    display:none !important;
}
.hp-hs-newsletter{
  max-width:1060px;
  margin:auto;
  height:325px;
  position:relative;
  h4{
    margin-top: 0;
    margin-bottom: 10px;
    color:#427700;
    font-weight: normal;
  }
  .hs-input{
    margin-bottom: 0;  
  }
  .hbspt-form{
    display: none;
  }
/*test*/
  @include mq(medium){
    .hbspt-form{  
      display: block;  
      max-width: 300px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #efefef;
      padding: 20px;
      width: 100%;
    }  
    .hs-form.stacked .actions{
      margin-left:0;
      padding-left:0;
      padding:0px;
      margin:0px;
      input{
        background-color: #427700;
        color:#fff;
        background-image: none;
        border-radius:0;
        border:0;
        text-shadow: 0;
      }
    }
  }
}


/*============ Custom Quote ===============*/
a.custom-quote{
  display:none;
  @include mq(large){
    background: url("http://www.icpamerica.com/assets/images/custom-quote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 281px;
    position: fixed;
    right: 0;
    top: 30%;
    width: 80px;
    z-index: 100; 
  }
}
/*================= Utility Nav Area ===================*/
.header{
  #search-panel{
    .inner-wrap{
      padding-top:.5em;
      padding-bottom:.5em;
    }
    .m-menu {
      text-align: right;
      img{
        width:25px;
      }
    }
    ul{
      text-align:right;
      li{
        &:nth-child(1){
          font-weight: bold;
          float:left;
          text-align:left;

          .utility-email{
          display: none;
        }
        }
        &:nth-child(2){
          font-weight: bold;
          float:right;
        }
        &:nth-child(3){
          display:none;
        }
        &:nth-child(4){
          display: none;
        }
      }
    }
  }
} 

@include mq(medium){
  .header{
    #search-panel{
      .inner-wrap{
      }
      .m-menu {
        display:none;
      }
      ul{
      text-align:none;
      li{
        &:nth-child(1){
          font-weight: bold;
          float:none;
          text-align:auto;

          .utility-email{
          display: inline-block;
          margin-right:20px;
        }
        }
        &:nth-child(2){
          font-weight: bold;
          float:none;
        }
        &:nth-child(3){
          display:inline-block;
        }
        &:nth-child(4){
          display: inline-block;
        }
      }
    }
    }
  }  
} 
 

/*============== Logo & Nav Area ================*/

/* counteract legacy */
nav .menunav li a,nav .menunav, nav, .wrap.header, #search-panel,.wrap.footer, #search-panel ul, header{
  height:auto;
}

#search-panel ul{
  line-height: auto;
  width:auto;
}

header,footer,#main
{
  margin: auto;
  position: relative;
  width: auto;
}

nav .menunav{
  overflow: visible;
}

nav .menunav li{
  box-shadow: none;
  float:none;
}

/*--------------------*/

.site-header{
  .inner-wrap{
    padding-top:0;
    padding-bottom:0;
  }
}
header{
  max-width:1060px;
}
header #hdr-logo
{
  background: transparent url("http://www.icpamerica.com/assets/images/hdr-logo.png") no-repeat;
  background-size: 60%;

  background-position: 50%;
  height: 98px;
  width:100%;
  float:left;
  padding:1em 0;
}
nav{
  position:static;
  width:100%;
}

.menunav{
  ul{
    display: none;
    text-align: center;
    float:none;

    li{
      border-right:solid 1px #ccc;
      border-left:solid 1px $white;
      display: inline-block;
      &:last-child{
        border-right:none;
      }
      a{
        padding:.25em 1em;
        line-height:2em;
        display: inline-block;
        color:$black;
        text-transform: capitalize;
        font-size:14px;
        &:hover{
          background-color: $green;
          color:$white;
        }
      }
    }
  }
  .m-show{
    display: block;
  }
}
@include mq(medium){
  header #hdr-logo{
    background-size:25%
  }
  .menunav{
    ul{
      display: block;
    }
  }
}

@include mq(large){
  header #hdr-logo{
    background-size:100%;
    @include span-columns(3 of 12);      
  }
  nav{
    position:static;
    @include span-columns(9 of 12);
  }
  .menunav{
    ul{
      float:right;
      li{
        float:left;
        a{
          line-height:6.5em;
        }
      }
    }
  }
}

/* home page style adjustments */
.home-page{
  article section{
    width:100% !important;
  }
  article{
    min-height:auto;
    overflow: hidden;
  }
}
/*===================== Hero Section =================*/

form#header-panel{
  text-align: center;
  width:100%;
  border-bottom:solid 20px transparent !important;
  height:200px;

  fieldset{
    display: none;
  }
  .img{
    color:$white;
    width:100%;
    font-size: 28px;
    position:relative;
    bottom:0;
    margin-top:40px;
    text-shadow: 2px 2px 3px #000;
    padding:10px 0;
  }
}
.header-panel-img{
  margin-top:40px;
}
#hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
  float:left;
  clear:left;
  margin-top:40px;
  display:block;
  margin:10px auto;
  width:100%;

  a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab{
    background: none;
    background-image: none !important;
    background-color: rgb(102,153,0) !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important;
  }
  h2{
    margin-top:10px!important;
    margin-bottom:10px!important;
  }
  h3{
    margin-top:0!important;
    margin-bottom:10px!important;
  }

}

.home-page #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
  float:left;
  clear:left;
  margin-top:40px;
  display:block;
  margin:auto;

  a#cta_button_549477_c4d067a7-c328-4738-bb42-22775c8e46ab{
    background: none;
    background-image: none !important;
    background-color: rgb(102,153,0) !important;
    border-radius: 0 !important;
    border: solid 1px #405500 !important;
  }
  h2{
    margin-top:10px!important;
    margin-bottom:10px!important;
  }
  h3{
    margin-top:0!important;
    margin-bottom:10px!important;
  }
}

@include mq(medium){
  #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
    max-width: 245px;
  }
  .home-page #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
    max-width: 100%;
  }
  .header-panel-img{
    float:left;
      max-width:50%;
      margin-top:40px;
      font-size:32px;
    }
  form#header-panel{
    text-align:left;
    max-width: 1060px;
    height:293px;
    
    fieldset{
      display:block;
        float:right;
        width:50%;
        max-height: 600px;
      }

    img{
      float:left;
      max-width:50%;
      margin-top:40px;
      font-size:32px;
    }
  }
  .home-page #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
    margin-top:20px;
  }
}

@include mq(large){
  .header-panel-img{
    float:left;
    max-width:600px;
    bottom:160px;
    position:absolute;
    font-size: 42px;
  }

  form#header-panel{
    height:340px;
    fieldset{
      width:338px;
      }

    // img{
    //   float:left;
    //   max-width:600px;
    //   bottom:0px;
    //   position:absolute;
    //   font-size: 42px;
    // }
  }
  .home-page #hs-cta-wrapper-57163a1d-5491-4d69-b560-efb0f92f950c{
    position:absolute;
    bottom:30px;
  }
}


/* ================== Product PReview section =================== */

.products-preview{
  background-color: #fff;
  .inner-wrap{
    padding-top:0em;
    padding-bottom:0em;
  }
}

.product-action{

}
article section .product-list li{
  width:100%;
}
article section .product-list li h2{
  text-align:center;
  background-color: #FFF;
}
article section .product-list li img{
  margin:auto;
}

@include mq(medium){
  article section .product-list li{
    width:50%;
  }
  article section .product-list li h2{
    text-align:center;
  }
  article section .product-list li img{
    margin:auto;
  }
}

@include mq(large){
  article section .product-list li{
    width:336px;
  }
  article section .product-list li h2{
    text-align:left;
  }
  article section .product-list li img{
    margin:0;
  }
}
/* ================== More Products section =================== */
article.company-info{
  text-align:center;
  max-width:99999px;
  
  section{
    max-width:1060px;
    width:100%;
    margin:0 auto!important;
    float:none;
    padding:0 20px;
  }
}

.more-products{
  .inner-wrap{
    padding-top:1em;
    padding-bottom:0em;
  }
}

@include mq(medium){
  article.company-info{
    text-align: left;
  }
  section{
    padding:0;
  }
}



/* ================== Additional Info section =================== */

  .home-page{
    article:nth-child(6){
      > section{
        > .table:nth-child(1){
          td{
            width:30% !important;
          }
          > thead{
            h3{
              width:auto;
            }
          }
        }
        > .table:nth-child(2){
          td{
            width:auto !important;
          }
        } 
      } 
      .table thead td[colspan="4"] h3{
        width:100%;
      }
    }
  }



@media (max-width: 40em) {
  .home-page{
    article:nth-child(6){
      > section{
        > .table:nth-child(1){
          td{
            width:auto !important;
            display: block;
          }
          > thead{
            > tr{
                td:nth-child(1){
                display:none;
              }
                td:nth-child(2){
                display:none;
              }
            }
            h3{
              width:auto;
            }
          } 
          > tbody{
            > tr{
              > td:nth-child(1){
                display:none;
              }
              > td:nth-child(2){
                display:none;
              }
            }
          }
        }
        > .table:nth-child(2){
          td{
            width:auto !important;
            display: block;
          }
        } 
      } 
    }
  }
}

/* ================== Footer Link section =================== */


.footer-links{
  margin-top:20px;
  border-top:solid 1px #ccc;
  text-align: center;

  .inner-wrap{
    padding-top:1em;
    padding-bottom:1.5em;
  }
 
  .fl-block{
    width:100%;
    a{
      display: block;
      color:#555;
      &:hover{
        color:$green;
      }
    }
  }
}

@include mq(medium){
  .footer-links{
    text-align: left;
    .fl-block{
      @include span-columns(3 of 12);
    }
  }
}

/* ======================= copywrite info ==================*/
.footer{
  p{
    padding:0;
    margin:0;
  }
}

.wrap.footer{
  padding:20px;
}

/* ======================= Destination Pages =================== */

article {
    width: auto;
    min-height: 500px;
    margin: auto;
    padding: 20px;
    border-left: none;
    max-width:1100px;
}

article section {
    @include span-columns(12 of 12);
    margin-left:0;
    @include omega;
}

article aside {
  @include span-columns(12 of 12);
  margin-left:0;
}

.single-hover{
  width:auto;
}

.nav-wrapper{
  width:auto;
}

.single-nav-wrap{
  width:auto;
}

@include mq(medium){
  article section {
    @include span-columns(8 of 12);
    margin-left:0;
    @include omega;
  }

  article aside {
    @include span-columns(4 of 12);
    margin-left:0;
  }

  .single-hover{
    width:auto;
  }

  .nav-wrapper{
    width:auto;
  }

}

@include mq(large){
  article section {
    @include span-columns(9 of 12);
    margin-left:0;
    @include omega;
  }

  article aside {
    @include span-columns(3 of 12);
    margin-left:0;
  }

  .single-hover{
    width:auto;
  }

  .nav-wrapper{
    width:auto;
  }
}

/* ======================= Product List Items =================== */

.panel-pc{
  width:100%;

  ul {
    width:100%;
    li{
      margin:0;
      text-align:left;
      @include span-columns(12 of 12);
      a.img{
        width:auto;
      }
    }
  }
}

@include mq(medium){
  .panel-pc{
    ul{
      li{
        @include span-columns(4 of 12);
        @include omega(3n);
      }
    }
  }
}

.product-listing{
  width:auto;

  table{
    td.product-img{
      width:auto;
      img{
        display: none;
      }
    }
  }
}

@include mq(medium){
  .product-listing{
    .product-action{
      h4{
        display:none;
      }
    }
    table{
      td.product-img{
        width: 190px;
        img{
          display: block;
          display: inline-block;
        }
      }
    }
  }
}

.product-listing table td.product-action a.view{
  width:60px;
}

/* =======================Product Details Stuff ====================*/
.product-description, .pull-right{
  @include span-columns(12 of 12);
}
.pull-left{
  @include span-columns(12 of 12);
}

.img-gallery dt{
  width:auto;
  padding:20px;
  height:auto;
  line-height:0;
}

.product-description .form-inline{
  line-height: 0px;
}

.product-description .product-info{
  padding:20px;
}

@include mq(medium){
  .product-description, .pull-right{
    @include span-columns(7 of 12);
  }
  .pull-left{
    @include span-columns(5 of 12);
  }
}
/* ========================== Form Stuff ===========================*/

td.col1{
  text-align:left;
}
.class-form dl dt, .class-form dl dd{
  width:100%;
}

fieldset.form-inline{
  padding:0;
  label{

  }
  input{
    border-radius:5px;
    padding:15px;
  }
}

.span6.new-account, .span6.exist-account{
  width:100%;
}

.new-account{
  border-bottom:solid 1px #ccc;
  margin-bottom:20px;
  .btn_submit{
    margin-bottom:20px;
    display: inline-block;
  }
}

@include mq(medium){
  .new-account{
    @include span-columns(6 of 12);
  }
  .exist-account{
    @include span-columns(6 of 12);
  }
  .class-form dl dt{
    width:18%;
  }
  .class-form dl dd{
    width:80%;
  }
}

/* ========================== News Page Stuff =============================*/
.dl-horizontal dt{
  width:100%;
}
.dl-pdf-date{
  text-align:left;
}
.dl-pdf{
  float:left;
}

.dl-horizontal dd{
  margin-left:0;
}

@include mq(medium){
  .dl-horizontal dt{
    width:160px;
  }
  .dl-horizontal dd{
    margin-left:160px;
  }
}

/* ======================Mobile Accordian hide =============*/

.accordion-body ul{
  display:none;
}

@include mq(medium){
  .accordion-body ul{
    display:block;
  }

}