<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Feb 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_c2260_i2.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/40.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/41.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>IMBA-C2260-i2</b></span><br>
      ATX motherboard supports 22nm LGA1150 Intel(c) Xeon E3, Core(tm) i3, Pentium(c) and Celeron(c) per Intel(c) C226, DDR3, VGA, Dual Intel(c) PCIe GbE, Four USB 3.0, Six SATA 6Gb/s, HD Audio, iRIS-2400 and RoHS 

      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_c2260_i2.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/IMBA-C2260-i2_20140210.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/uploads/product_pdf/IMBA-C2260-i2_20140210.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/atx/imba_c2260_i2.html>IMBA-C2260-i2</a>, See Hot Product 
  
  
  <br />
<a href="http://www.icpamerica.com/uploads/product_pdf/SPCIE-C2260-i2_20140210.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/picmg_13/server_grade/spcie_c2260_i2.html>SPCIE-C2260-i2</a>, Full-size PICMG 1.3 CPU Card supports LGA1150 Intel(c) Xeon(c) E3, Core(tm) i3, Pentium(c) and Celeron(c) per Intel(c) C226, DDR3, VGA, iDP, Dual Intel(c) PCIe GbE, SATA 6Gb/s, mSATA, PCIe Mini, RS-232, HD Audio, iRIS-2400 and RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/uploads/product_pdf/PCIE-Q870-i2_20140127.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/picmg_13/core_2_duo-quad/pcie_q870_i2.html>PCIE-Q870-i2</a>, Full-size PICMG 1.3 CPU card supports LGA1150 Intel(c) Core(tm) i7/i5/i3, Pentium(c) and Celeron(c) CPU per Intel(c) Q87, DDR3, VGA, iDP, Dual Intel(c) PCIe GbE, SATA 6Gb/s, mSATA, PCIe Mini, RS-232, Audio, iRIS-2400 and RoHS 
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      Product Update
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<b>EOL</b>
<ul style="margin:0px;padding-bottom:4px;">
<li>AC-KIT88-HD-R10<li>AFL-19M
</ul>
    
          
        </td></tr></table>
      <!-- close major 2 -->

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<b>New Industrial Computer Board designed with new 4th generation Intel(c) Core(tm) processors and Intel(c) Q87 and Mobile Intel(c) QM87 Express Chipsets... The PCIE-Q870-i2 Full Size PICMG 1.3</b><br>
SBC is the first Plug-In SBC released with the 4th generation processor support, standard features include:
<ul style='margin-left:16px;font-size:8pt'>
<li>1. PICMG 1.3 full-size graphic grade solution
<li>2. LGA1150 Intel(c) 4th generation Core(tm) i7/i5/i3, Pentium(c) or Celeron(c) processor supported
<li>3. Four 240-pin 1600/1333MHz dual-channel DDR3 DIMMs support up to 32GB memory
<li>4. Supports dual independent display by VGA & iDP interface
<li>5. Supports PCIe Mini devices and mSATA via PCIe Mini socket
<li>6. Intel(c) PCIe GbE with Intel(c) AMT 9.0 support
<li>7. Supports RAID function via SATA 6Gb/s
<li>8. TPM V1.2 hardware security function supported by TPM module
<li>9. Stiffener bars
<li>10. Jumper-less function
<li>11. Support IPMI 2.0 via iRIS-2400 module
</ul>


</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
