<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">May 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/mobile_products/tablet_pcs/icerock_3.html" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/d62720e9-b776-4505-9242-08cb3e16bf62.jpg?ver=1432848446000" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- ___________________ left column ________________________ -->

      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#FF8B2E;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:green;">
      Hot Product
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/4275f1fe-b664-4bfe-b97e-77643e212895.jpg?ver=1432848447000" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>ICEROCK-3</b></span><br>
      Ultra Tough Assistant tablet powered by Intel(C) Celeron(Tm) 1007U processor/Intel I7-3517UE. In order to meet outdoor environmental requirements, the ICEROCK3 is designed to comply with IP 65 standards, 1.2M drop survival, and wide operating temperatures. With a selection of wireless technologies and Corning(C) Gorilla(C) Glass with 7H hardness protection, this tablet PC can be applied across vertical markets that need a robust device for harsh working environments
 &nbsp;<a href="http://www.icpamerica.com/products/mobile_products/tablet_pcs/icerock_3.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/ICEROCK3-Brochure.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#7A7D99;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      New Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/sbox_2620.html">SBOX-2620</a>, ntel Gen4 Celeron/Core i3/i5/i7 CPU w/ 2xLAN/ HDMI/ DVI/ DC 9-36V Fanless Box PC </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/mobile_products/automotive_products/vbox_3600.html">VBOX-3600</a>, Intel Gen3 Core i7 CPU 1.7GHz with HD 4000 GPU On-Board Computer </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/mobile_products/vehicle_displays/vdm_121_h.html">VDM-121-H</a>, Ultra-Grade 12.1. TFT LCD VGA Touch Screen Monitor With Metal Enclosure </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#4BB7FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>WIDS-515 Series<li>WIDS-517 Series<li>AFL2-W19A-H61 Series<li>IDS-200W-A70M<li>PCISA-9652<li>UIBX-210W-CV-N2600<li>IOPS-H61/Q67 Series<li>IDS-H61 Series<li>AFL-15A-N270 Series
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>HPE-4S2<li>MK-KTP5AW/B
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#444ECC;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


IDS-200-A70M is the latest release in the IDS Series of Digital Signage Players. Designed with AMD’s R-Series APU, 4 Independent HDMI Ouputs and IPMI 2.0 Support, the IDS-200-A70M is the next generation in Digital Signage. 

<br><br>For more information on our industrial Digital Signage Solutions contact our Sales Department at 877-293-2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a><br><br><center><img src='https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/75ea9d14-6457-4a8d-963b-80ea63aa8628.jpg?ver=1432848443000'></center>


</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
