<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/logo_icpa.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Feb 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/single_board_computers/EPIC/nano_se_i1.html" target=_blank><img src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/image_big_header.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Product Spotlight
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/image_hot_item.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>NANO-SE-i1</b></span><br>
      
EPIC SBC supports AMD(C) 28nm quad core GX-424CC 2.4GHz (25W) on-board SoC with VGA/HDMI/LVDS, Dual PCIe GbE, USB 3.0, Dual PCIe Mini, SATA 6Gb/s, mSATA , COM and Audio, iRIS-1010 and RoHS &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/EPIC/nano_se_i1.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/pdficon.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/NANO-SE-i1_20150217.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/green-jelly-icon-business-phone-solid_2.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      Hot Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_5152_d525_e.html">PPC-5152-D525-E</a>, 15" 400 cd/m2 XGA Fanless Panel PC, Intel(C) Atom(Tm) D525 1.8GHz CPU with 1GB DDR3 RAM, Silver Color, touch screen and ANSI C1D2 SKU. </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/ecn_380_qm87.html">ECN-380-QM87</a>, Fanless embedded system with Intel(C) Core(Tm) i5-4400E 2.7 GHz, TDP 37W, 2 x HDMI, 1 x VGA, 2 x 2.5" SATA HDD bay, 4GB memory pre-installed, 12 V DC or 9~36V DC </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_dqm871_i1.html">KINO-DQM871-i1</a>, Mini-ITX SBC supports Intel(C) 22nm 4th generation mobile Core(Tm) i7/i5/i3 and Celeron(C) on-board processors, HDMI / VGA / LVDS / DP, Dual Intel(C) PCIe GbE, USB 3.0, SATA 6Gb/s, HD Audio and RoHS </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<img src="http://www.icpamerica.com/download/icpanews/Feb 2015/news_support_files/holiday.jpg" align='right'>
Happy Chinese New Year!


</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>UPC-V315-NM70<li>IBX-530B-N270<li>AFL-12A-LX<li>AFL-W10A-N270
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>NANO-QM871 Series<li>KINO-DQM871 Series
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
