<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Apr 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/motherboard/micro_atx/imb_h810_i2.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/46.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#BCCDE7;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:brown;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/47.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>IMB-H810-i2</b></span><br>
      microATX motherboard supports 22nm LGA1150 Intel(R) Core(Tm) i7/i5/i3/Pentium(R) and Celeron(R) CPU per Intel(R) H81, DDR3, VGA, Dual Intel(R) PCIe GbE, USB 2.0, PCI, COM, SATA 6Gb/s, LPT, HD Audio, iRIS-2400 and RoHS
      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/motherboard/micro_atx/imb_h810_i2.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/IMB-H810-i2_0414.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#6E809A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:lightgreen;">
      New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<a href=""><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/micro_atx/imb_h810_i2.html>IMB-H810-i2</a>, See Hot Product 
  
  
  <br />
<a href=""><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_dqm871.html>KINO-DQM871</a>, Mini-ITX SBC supports Intel(R) 22nm 4th generation mobile Core(TM) i7/i5/i3 and Celeron(R) on-board processors, HDMI / VGA / LVDS / DP, Dual Intel(R) PCIe GbE, USB 3.0, SATA 6Gb/s, HD Audio and RoHS 
  
  
  <br />
<a href=""><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/LCD_display/dm-f22a.html>DM-F22A</a>, 21.5" 250 cd/m2 FHD LCD monitor, IP 65 Compliant Aluminum front panel, Black color, W/ USB projected capacitive touch screen, 9 ~36V DC input 
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->


    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#AAB480;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>



<b>ICP America is proud to announce the release of our latest LCD Product Line!<br>
<i>DM-F IP65 Series Industrial LCD Monitors</i></b>
<br>

<ul style='margin-left:16px;font-size:8pt'>
<li>12.1-24" Rugged LCD Monitors with the following features:
<li>Flexible Video Input Selection
<li>9V~36V Wide Range DC Input
<li>Wide Operating Temperatures
<li>Projected Capacitive Multi-touch/ Resistive Single-touch options
<li> Robust IP65 aluminum front bezel

</ul>
<br>
Please contact our Sales Department today for a quotation today!! sales@icpamerica.com


</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#939A76; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
