<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="http://www.icpamerica.com/download/icpanews/Sep 2014/news_support_files/logo_icpa.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Sep 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'">
        <A href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_760_hm86.html" target=_blank>
    <img src="http://www.icpamerica.com/download/icpanews/Sep 2014/news_support_files/image_big_header.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->


    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#BCCDE7;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:brown;">
      Product Spotlight
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="http://www.icpamerica.com/download/icpanews/Sep 2014/news_support_files/image_hot_item.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>TANK-760-HM86</b></span><br>
      Fanless embedded system, Intel(R) Core(Tm)) i5 dual-core CPU or Intel(R) Celeron(R) dual-core CPU support, TDP 37W, 4GB DDR3 pre-installed memory, VGA/HDMI/DisplayPort, iRIS-2400 optional, 9 V~36 V DC, RoHS
      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_760_hm86.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Sep 2014/news_support_files/pdficon.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/TANK-760-HM86_20140910.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Sep 2014/news_support_files/green-jelly-icon-business-phone-solid_2.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#6E809A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:lightgreen;">
      Hot Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_ult_i1.html">WAFER-ULT-i1</a>, 3.5" SBC supports Intel(R) 22nm 4th Generation Mobile Core(Tm) i7/i5/i3 and Celeron(R) on-board Processor </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/chassis/video_systems/ids_200_a70m.html">IDS-200-A70M</a>, Fanless intelligent digital signage embedded system, AMD(R) APU </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_da750_i2.html">KINO-DA750-i2</a>, Mini-ITX SBC supports Socket FS1r2 AMD R-series </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_760_hm86.html">TANK-760-HM86</a>, Fanless embedded system, Intel(R) Core™ i5 dual-core CPU or Intel(R) Celeron(R) dual-core CPU support </div>
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->


    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#AAB480;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

ICP America offers our customer’s Managed EOL Support. If you are using a product that has become EOL we will provide you with a structured plan for last buys and product migration. Contact our Sales Department today for more details.

</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#939A76; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
