<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Aug 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/pico_itx/hyper_bt.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/56.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->



        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'">
    
          </SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Product Spotlight
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/57.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>HYPER-BT</b></span><br>
      PICO-ITX SBC supports Intel(R) 22nm Atom(Tm)/Celeron(R) on-board SoC, DDR3L, VGA/iDP, GbE, USB 3.0, SATA 3Gb/s, HD Audio and RoHS
      &nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/pico_itx/hyper_bt.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/HYPER-BT_072214.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      Hot Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/EPIC/nano_bt_i1.html">NANO-BT-i1</a>, EPIC SBC supports Intel(R) 22nm Atom(Tm)/Celeron(R) </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_w10a_n28.html">AFL2-W10A-N28</a>, Fanless panel PC with Intel(R) Atom(Tm) cedarview N2800 </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/add_on_cards/iris_2400.html">iRIS-2400</a>, IPMI 2.0 adapter card </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/pico_itx/hyper_bt.html">HYPER-BT</a>, SBC supports Intel(R) 22nm Atom(Tm)/Celeron(R)  </div>
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->


    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

ICP America will be closed Monday, September 1st, in honor of Labor Day. We will re-open on Tuesday, September 2nd at 7:00AM PST.
<br><center><img src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/58.jpg'></center>


</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
