/*!
 * CSS Modification by Mark Rivera & Richard Hilton - Dog and Rooster, Inc., 2013
 * Copyright by M.Rivera & R.Hilton, 2013
 *
 * Responsive CSS for Portrait Tablet to Landscape and Desktop
 */

	@media (max-width: 1024px) { 
	
	body {
		width: 100%;
	}
	header #hdr-logo {
	  display: block;
		text-align: center;
		width: 320px;
	  height: 100px;
	}
	
	
	
	header, footer, #main {max-width:1024px;}
	nav .menunav li a {padding:0 17px; font-size:14px;}
	#search-panel ul , form#header-panel {max-width:1024px;}
	form#header-panel img {width:60%; height:auto;}
	article {width:auto;}
	article section {max-width:1024px;}
	article.products {max-width:1024px;}
	article.products section {width:auto; margin-right:30px;}
	section h2 {font-size 26px;}
	article.company-info {font-size:15px; max-width:980px; overflow:hidden;}
	article section .product-list li {margin:10px}
	article.company-info h2 {font-size:26px; padding-left:20px;}
	article.company-info {padding:20px;}
	.table , article .table thead td[colspan="4"] h3 {width:auto;}
	article .table thead h3 {width:auto;}
	.table th, .table td {padding:0;}
	.panel-pc {width:auto;}
	.panel-pc ul {width:auto;}
	.panel-pc li img {max-width:100%;}
	.panel-pc li {width: 210px; margin-left:0; padding:10px;}
	.panel-pc li a.img {max-width:100%; width:210px;}
	.product-listing {width:auto;}
	article section .product-list li {width:315px;}
	article section .product-list li img {width:280px;}
	article section {margin-right:30px;}
	.table {
    margin: 20px 0 20px 20px;}
	.product-description {
    margin: 50px 0;
    width: 300px;}

}

@media (max-width: 768px) { 

	
	header, footer, #main {width:768px;}
	nav .menunav li a {padding:0 5px; font-size:14px;}
	#search-panel ul , form#header-panel {width:768px;}
	form#header-panel img {width:60%; height:auto;}
	article section {width:768px;}
	article.products {width:768px;}
	article.products section {width:auto; margin-right:30px;}
	section h2 {font-size 26px;}
	article.company-info {font-size:15px; width:728px; overflow:hidden;}
	article section .product-list li {margin:10px 20px;}
	article.company-info h2 {font-size:26px; padding-left:20px;}
	article.company-info {padding:20px;}
	.table , article .table thead td[colspan="4"] h3 {width:738px;}
	article .table thead h3 {width:auto;}
	.table th, .table td {padding:8px 15px;}
	.panel-pc {width:auto;}
	.panel-pc ul {width:auto;}
	.panel-pc li img {max-width:100%;}
	.panel-pc li {width: 210px; margin-left:0; padding:10px;}
	.panel-pc li a.img {max-width:100%; width:210px;}
	.product-listing {width:auto;}
	.product-description {width:500px; height:auto; margin:50px 0;}
	.pull-right.product-description {float:left;}
	.product-description .product-info {min-height:100px;}
	.product-features {width:500px;}
	.product-detail {width:auto;}
	.table {
    margin: 0;}
}

