/*!

 * CSS Modification by Mark Rivera & Richard Hilton - Dog and Rooster, Inc., 2013

 * Copyright by Twitter Bootstrap

 *

 * Core CSS

 */



/*! WEB FONTS */



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/*font-family: 'Open Sans', sans-serif;*/



@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/*font-family: 'Open Sans Condensed', sans-serif;*/



@font-face {

    font-family: 'OswaldLight';

    src: url('../fonts/oswald/Oswald-Light-webfont.eot');

    src: url('../fonts/oswald/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/oswald/Oswald-Light-webfont.woff') format('woff'),

         url('../fonts/oswald/Oswald-Light-webfont.ttf') format('truetype'),

         url('../fonts/oswald/Oswald-Light-webfont.svg#OswaldLight') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'OswaldBook';

    src: url('../fonts/oswald/Oswald-Regular-webfont.eot');

    src: url('../fonts/oswald/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/oswald/Oswald-Regular-webfont.woff') format('woff'),

         url('../fonts/oswald/Oswald-Regular-webfont.ttf') format('truetype'),

         url('../fonts/oswald/Oswald-Regular-webfont.svg#OswaldBook') format('svg');

    font-weight: normal;

    font-style: normal;

}



::-moz-selection { background: #B3D4FC; color: #555; text-shadow: none; }

::selection 	 { background: #B3D4FC; color: #555; text-shadow: none; }



.vanadium-advice  { display: block; font-size: smaller !important; color: #9D261D; font-weight: 100; text-transform: capitalize; }

.validation-alert { position: absolute; top: 0; left: 0; background: #BF4804; color: #FFF; text-align: center; width: 100%; padding: 20px 0; z-index: 10000; }



.notify {

	position: fixed;

	top: 0;

	left: -5%;

	display: none;

	background: url(../images/ico/linen.jpg) repeat;

	font-size: 11px;

	color: #FFF;

	text-shadow: 1px 1px 2px #000;

	text-align: center;

	text-transform: uppercase;

	line-height: 80px;

	width: 110%;

	height: 80px;

	padding: 10px;

	z-index: 0;

	box-shadow: inset 0 -5px 10px 0 rgba(0,0,0,.45);

}

section h1{font:normal 42px 'OswaldLight', sans-serif; border-bottom:1px solid #999999; margin:20px 0 30px; padding-bottom:15px; line-height:50px; }

.greened{ color:#427700; }



.wrap.header * {

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

}

aside * {

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

}



.wrap {

	position: relative;

	width: 100%;

	margin: 0;

	z-index: 1;	

}

.wrap.header { 

	background: rgba(255,255,255,0.85);

	background: #FFF \9;

	height: 130px;

	border-bottom: solid 1px #CCC;

	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);

	z-index: 2;

}

.wrap.footer {

	background: #427700;

	font-size: 12px;

	color: #FFF;

	text-align: center;

	line-height: 16px;

	height: 55px;

	padding: 10px 0;

	z-index: 2;

}

.wrap.content {

	min-height: 1%;

	z-index: 1;

}



#search-panel {

	float: left;

	position: relative;

	background: #427700;

	width: 100%;

	height: 30px;

	margin: 0;

	z-index: 3;

	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.45);

}

#search-panel ul {

	font-size: 12px;

	color: #FFF;

	text-align: right;

	line-height: 30px;

	width: 1050px;

	height: 30px;

	margin: auto

}

#search-panel li {

	display: inline-block;

	width: auto;

	padding: 0 5px;

}

#search-panel li a {

	display: inline-block;

	color: #FFF;

	margin: 0 3px;

}

#search-panel li a img {

	position: relative;

	top: -2px;

	margin: 0;

}

#search-panel li:last-child a {

	margin: 0;

}

#search-panel li input[type="text"] {

	position: relative;

	top: 3px;

	font-size: 11px;

	width: 150px;

	height: 24px;

	border: 0;

	border-radius: 0;

	box-shadow: none;

}

#search-panel li input[type="submit"] {

	position: relative;

	top: -2px;

	display: inline-block;

	background: #AAA url(../images/icon-btn-magnify.png) no-repeat center;

	width: 24px;

	height: 24px;

	border: none;

}



header,

footer,

#main { 

	position: relative;

	width: 1050px;

	margin: auto;

}



header { clear: both; height: 100px; }

header button.media-btn { display: none; }

header #hdr-logo {

	float: left;

	background: transparent url(../images/hdr-logo.png) no-repeat;

	width: 242px;

	height: 100px;

	margin: 0;

}

nav {

	position: absolute;

	top: 0;

	right: 0;

	width: auto;

	height: 100px;

	z-index: 2;

}

nav .menunav {

	position: relative;

	height: 100px;

	overflow: hidden;

}

nav .menunav li {

	float: left;

	min-width: 1%;

	border-left: solid 1px #CCC;

	box-shadow: 1px 0 0 1px #FFF;

}

nav .menunav li a {

	display: block;

	color: #444;

	text-align: center;

	text-transform: capitalize;

	line-height: 100px;

	width: 100%;

	height: 100px;

	padding: 0 15px;

}

nav .menunav li a:hover,

nav .menunav li a.on {

	background: #427700 !important;

	color: #FFF;

}



footer a {

	color: #FFF;

}

footer small {

	display: block;

}


/*! CSS FOR 404 PAGE */

#goog-fixurl ul { list-style: none; padding: 0; margin: 0; }

#goog-fixurl form { margin: 0; }

#goog-wm-qt, #goog-wm-sb { border: 1px solid #bbb; font-size: 16px; line-height: normal; vertical-align: top; color: #444; border-radius: 2px; }

#goog-wm-qt { width: 320px; height: 32px; padding: 5px; margin: 5px 10px 0 0; box-shadow: inset 0 1px 1px #ccc; }

#goog-wm-sb { display: inline-block; height: 32px; padding: 0 10px; margin: 5px 0 0; white-space: nowrap; cursor: pointer; background-color: #f5f5f5; background-image: -webkit-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -moz-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -ms-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -o-linear-gradient(rgba(255,255,255,0), #f1f1f1); -webkit-appearance: none; -moz-appearance: none; appearance: none; *overflow: visible; *display: inline; *zoom: 1; }

#goog-wm-sb:hover, #goog-wm-sb:focus { border-color: #aaa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }

#goog-wm-qt:focus, #goog-wm-sb:focus { border-color: #105cb6; outline: 0; color: #222; }

input::-moz-focus-inner { padding: 5px 10px; border: 0; }



#cat14, #cat11 { display:none; }


/*! CSS HACKS FOR OLD AND MODERN BROWSER */



.msie {  }



@media screen and (-webkit-min-device-pixel-ratio:0) { }



@-moz-document url-prefix() { }
