@media print {


body:before {
display: block;
content: "ICP America    Email: info@icpamerica.com    Call: 1-877-293-2000";
margin-top: 10px;
padding: 3px 5px;
font-style: italic;
}
body {padding:30px 0 30px 0 !important;}


#hdr-logo {display:block !important;}

.wrap {display:block;}
.content { display:block; }
article {display:block; border:none !important;}
article.products {display:block;}
article.clearfix {display:block;}
.products { display:block;}
.clearfix { display:block;}
article section {display:block;}
section  {display:block;}
article {padding:0 !important; margin:0 !important;}
section {padding:0 !important; margin:0 !important;}



  	.product-detail {width:100% !important; float:left; left:0;}
	#features {display:block;}
    #specifications {display:block;}
    #ordering-info {display:block;}
    
	
	
	

.wrap.header {display:none;}
aside.side-framebox {display:none; border:none;}
aside.side-framebox a {display:none !important;}
aside {display:none !important; margin:0 !important;}

aside#cart {display:none !important;}
aside.side-framebox {display:none !important;}
.side-framebox {display:none !important;}
#cart {display:none !important;}
aside dl {display:none !important;}
aside dl#cart {display:none !important;}
aside dl.side-framebox {display:none !important;}

dl#cart {display:none !important;}
dl.side-framebox {display:none !important;}

aside#category {display:none !important;}
dl#category {display:none !important;}
#category {display:none !important;}


	.product-info a {display:none;}
  	.signup {display:none;}
  	.login {display:none;}
  	.log-user {display:none;}	
  	.form-inline {display:none;}
	.social-media {display:none;}
	.form-inlin {display:none;}
    .product-media {display:none;}
    #myTab {display:none;}
	dd {border:none !important; display:none;}
	



p {text-align:left;}

.breadcrumb {display:none;}

.panel-pc li a {display:none;}

  

  
 /* Product details , header and images */
 
h3 , .product-description h3 {display:block;}

.pull-left  {width:800px !important; display:block; padding:30px 30px; border-style:solid; border-color:#ccc; border-width:1px 0 1px 0; margin:20px 0; text-align:left !important;}
.pull-right  {width:800px !important; display:block; border-style:solid; border-color:#ccc; border-width:1px 0 1px 0; text-align:left !important;}
.product-info {display:block; text-align:left; float:left; width:650px; height:auto !important; padding-top:20px;}
.product-info p {display:block; text-align:left; float:left; width:650px; }
.product-description {height:auto !important; padding-top:20px;}

dt#image {border:none !important; display:block; min-width:700px; border:solid #ccc; border-width:1px 0 1px 0; float:left !important; text-align: left !important;} 

#features { padding:50px 0; display:block; border-style:solid; border-color:#ccc; border-width:1px 0 1px 0;}
#specifications { padding:50px 0; display:block; border-style:solid; border-color:#ccc; border-width:5px 0 1px 0;}
#ordering-info { padding:50px 0; display:block; border-style:solid; border-color:#ccc; border-width:5px 0 1px 0;}

#specifications td , #ordering-info td {border:1px solid #ccc !important; text-align:left; padding:0 !important; margin:0 !important;}
  
section.product-features { display:block;}
.nav-tabs li {display:block; text-align:left;}

}
