<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>

  <tr><td><!-- tab 1 -->

            <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jul 2015</td>
        </tr>
        </tbody></table>

    <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>

        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f15b-bt.html" target=_blank><img src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/b1d1ec21-65c7-4442-aafd-535a94f9e1fb.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- ___________________ left column ________________________ -->

      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">
      
        <!-- major 1 -->
  <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Hot Product
  </td></tr></table>

  <!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://mlsvc01-prod.s3.amazonaws.com/f2f25fcc201/4fcecf9a-edb0-4c5d-88c3-3670b156ecc5.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>PPC-F15B-BT</b></span><br>
      15" 400 cd/m^2 XGA panel PC with Intel(R) Celeron(R) processor J1900, TDP 10W, one 2 GB RAM, support iRIS-2400, black color, 9-36V DC input, resistive touch or projective capacitive window.  
 &nbsp;<a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f15b-bt.html">More detail</a>
      </td></tr>

    <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/PPC-F15B-BT_20150722.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr> 
  </table>
<!-- close hot product 1 -->

      
        <!-- major 2 -->
  <table style="width:100%">
     <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      New Products
     </td></tr></table>

  <table style="width:100%">
     <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/mobile_products/tablet_pcs/icerock_3.html">ICEROCK-3</a>, Ultra Tough Assistant tablet powered by Intel(R) Celeron(Tm) 1007U processor/Intel I7-3517UE. </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc-f12b-bt.html">PPC-F12B-BT</a>, XGA panel PC with Intel(R) Celeron(R) processor J1900  </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl3_12a_bt.html">AFL3-12A-BT</a>, XGA fanless panel PC with Intel(R) Celeron(R) J1900 quad core 2 GHz </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl3_w15a_bt.html">AFL3-W15A-BT</a>, Wide screen fanless panel PC with Intel(R) Celeron(R) J1900 quad core 2 GHz </div>
  <br />

          </p></span>
     </td></tr></table>
  <!-- close major 2 -->
      
    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

            <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <b>EOL Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>IMB-C2060<li>ICE-PV-D5251<li>NANO-PV-N4552<li>IMB-H612A/B<li>NANO-CV-D4252
</div>
      <b>PCN Product List</b>
<div style="margin:1px 0px 1px 14px">
<li>EBC-2100<li>IMB-H810-i2<li>WS-855GS
</div>
  </td></tr></table>
      <!-- close major 3 -->
      
      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


ICP America will be closing early on August 7th for our Annual Day at the Races! Please contact your Account Manager with any orders or product requirements before 2PM PST on Friday, August 7th! 877-293-2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a><br><br>


</P>
  </td></tr></table>
      <!-- close major 3 -->
      
            <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>
 
            <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>
          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
