<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Oct 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_nm701_1007u.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/30.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#7A7D99;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      Panel PC Spotlight
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/IOVU-430S_20130501.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/RISC_based_panel_pc/iovu_430s.html>IOVU-430S</a>, <img alt='' src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/29.jpg' align='right' hspace='10px'>
      RISC Panel PC, 4.3” LCD, ARM S3C2416X40-Y640 400MHz CPU, 128MB SDRAM,optional 802.11b/g WiFi function, Win CE6.0, RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/files/UPC-V315-QM77_20130611.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/upc_v315_qm77.html>UPC-V315-QM77</a>, 15” 400cd/m² XGA fanless full IP65 panel PC with Mobile Intel® QM77 Express Chipset and Intel(c) Core(tm) i7-3517UE Processor, 802.11a/b/g/n wireless module, resistive touch screen, 2-mgeapixel camera, microphone, 2GB DDR3 RAM, R10 
  
  
  <br />
<a href="http://www.icpamerica.com/files/AFL2-10A-N28_20130204.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_10a_n28.html>AFL2-10A-N28</a>, 10.4" 400cd/m² SVGA fanless panel PC with Intel(c) Atom(tm) cedarview N2800 dual core 1.86GHz, 802.11b/g/n wireless module, resistive touch screen,2M camera, microphone 
  
  
  <br />
<a href="http://www.icpamerica.com/files/PPC-3708A-N26_20130122.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_3708a_n26.html>PPC-3708A-N26</a>, 8.4” 450 cd/m² SVGA Panel PC with Intel(c) Atom(tm) N2600 1.6GHz processor,2GB DDR3 RAM, and touch screen, 9~28VDC input, RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/files/IBS-19A_20130305.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/medical_products/ibs_19a.html>IBS-19A</a>, 19" Interactive Bedside Station Medical Panel PC, with 2GB DDR3 RAM, 320GB HDD, Wireless 802.11a/b/g/n, Touch screen, Slim DVD-RW, AC to DC 19V power adapter, RoHS.  
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

      

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#4BB7FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<b>Can’t find a product to suit your requirements? </b><br>Look no further, ICP America offers customers Custom Design Services.  If you require a complete system design or a BIOS customization, ICP America does it all.  
<br>We have over 35 years of design and product development experience to bring to the table.  Call us today for a consultation! 877-296-2500 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a>

</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#444ECC; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:white">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
