<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Nov 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/default.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/31.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      Embedded System Spotlight
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<a href="http://www.icpamerica.com/files/TANK-820-H61_20130225.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_820_h61.html>TANK-820-H61</a>, <img alt='' src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/32.jpg' align='right' hspace='10px'>
      Extend temperature 3-Slot Embedded System for 2nd Generation Intel(R) Core(Tm) low power desktop processors,TDP 35W, Dual 9-24V DC-IN, 2GB DDR3 Memory on-board, -20°C~60°C
       
  
  
  <br />
<a href="http://www.icpamerica.com/files/uIBX-210-CV-N2600_20121019.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/uibx_210_cv_n2600.html>uIBX-210-CV-N2600</a>, Fanless embedded system with Intel(R) Atom(Tm) N2600 DC 1.6GHz, Intel(R) NM10 chipset, 2GB DDR3 memory, built-in 2T2R 802.11b/g/n wireless(Optional), 12VDC- In, with 60W power adaptor PSE adaptor, black, RoHS 
  
  
  <br />
<a href="http://www.icpamerica.com/files/ECN-680A-H61_20120914.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/ecn_680a_h61.html>ECN-680A-H61</a>, Embedded system,TDP 35W, dual DVI display multimedia box, Dual GbE LAN, HDMI, USB 2.0, USB 3.0, SATA 3Gb/s, TPM, 9~28VDC Input, 90W adapter, R10 
  
  
  <br />
<a href="http://www.icpamerica.com/files/ECW-281B-D2550_20130905.pdf"><img style="border:0px; margin-bottom:-2px;" src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" ></a>&nbsp;<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/ecw_281b_d2550.html>ECW-281B/D2550</a>, Fanless embedded system with WAFER-CV-D25501, with dual core Intel(R) Atom(Tm) D2550 1.86G, optional, 802.11 b/g/n 2T2R wirless module, 4 serial ports,with 2GB DDR3 pre-installed SO-DIMM memory, 12VDC in, 60W power adapter, black, RoHS 
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

      

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

<img align='right' border=0 hspace='10px' vspace='4px' src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/33.png'>

<b>I</b>CP America will be closed November 28th – December 1st, 2013. We will re-open for business Monday, December 2nd at 7:00AM PST. 

<br>
<b>T</b>o place your order before the Thanksgiving Holiday contact us today at 877-293-2000
or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a>

</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#9DE5E8; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
