<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="http://www.icpamerica.com/download/icpanews/Oct 2014/news_support_files/logo_icpa.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Oct 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'">
        <A href="http://icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_abt_i2.html" target=_blank>
    <img src="http://www.icpamerica.com/download/icpanews/Oct 2014/news_support_files/image_big_header.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->


    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF8B2E;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:green;">
      Product Spotlight
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="http://www.icpamerica.com/download/icpanews/Oct 2014/news_support_files/image_hot_item.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>KINO-ABT-i2</b></span><br>
      Mini-ITX SBC supports Intel(R) 22nm Atom(Tm) or Celeron(R) on-board SoC, VGA/HDMI/iDP, Dual Intel(R) PCIe GbE, USB 3.0, SATA, HD Audio, iRIS-2400 and RoHS
      &nbsp;<a href="http://icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_abt_i2.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Oct 2014/news_support_files/pdficon.jpg" > <a href="http://icpamerica.com/uploads/product_pdf/KINO-ABT-i2_20141023.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="http://www.icpamerica.com/download/icpanews/Oct 2014/news_support_files/green-jelly-icon-business-phone-solid_2.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#7A7D99;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      Hot Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://icpamerica.com/products/single_board_computers/embedded_systems/tank_860_hm86.html">TANK-860-HM86</a>, Intel(R) Core(Tm) i5/Celeron,TDP 37W, 4GB DDR3 pre-installed memory,2/4/6 Slot Expansion Options,VGA/DVI-I/ DisplayPort, iRIS-2400 optional, 9 V~36 V DC,y RoHS </div>
  <br />
<div style="clear:both;"><a href="http://icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_bt_i1.html">WAFER-BT-i1</a>, 3.5” SBC with Intel(R) 22nm Atom(Tm)/Celeron(R) on-board SoC, VGA/LVDS/iDP, Dual PCIe GbE, USB 3.0, PCIe Mini, SATA 3Gb/s, mSATA, COM, Audio and RoHS </div>
  <br />
<div style="clear:both;"><a href="http://icpamerica.com/products/LCD_products/embedded_panel_PC/afl3_w07a_bt.html">AFL3-W07A-BT</a>, 7” 500 cd/m² 1024x600 HD fanless panel PC with Intel(R) Celeron(R) N2807 dual core 1.58 GHz/2.16 GHz, 802.11b/g/n wireless module, projected capacitive touch screen, 2GB DDR3L RAM </div>
  <br />
<div style="clear:both;"><a href="http://icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_abt_i2.html">KINO-ABT-i2</a>, See above </div>
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

     

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

          <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#444ECC;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:yellow;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


Remote Project Management is now made easy with the <a href='http://icpamerica.com/products/single_board_computers/add_on_cards/iris_2400.html'>iRIS-2400</a> IPMI 2.0 Module. Pairing the iRIS-2400 with an ICP America Single Board Computer Solution will allow you to monitor all aspects of your system and perform functions such as: BIOS Updates, Firmware Updates, Power Cycling, Remote Restart and more. Contact our Sales Department for more details!


</P>
  </td></tr></table>
      <!-- close major 3 -->

      <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#4BB7FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<p style="margin:1px 0px">
<b>EOL Product List</b>
<li>ECW-281B-WT-R30/N270/1GB<li>IBS-19A Series
</p>

<p style="margin:4px 0px 1px 0px;">
<b>PCN Product List</b>
<li>IMBA-Q670<li>IMBA-C2060<li>AFL2-12A-D525<li>AFL2-12A-HM65<li>UPC-MF-RFID-KIT01-R10
</p>
    
  </td></tr></table>
      <!-- close major 3 -->
    

      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#CC7550; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
