<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Nov 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'">
        <A href="http://www.icpamerica.com/products/chassis/bare_bone/tank_801_bt.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/63.jpg" border=0 ></A></SPAN></P>
        </td></tr> <!-- close tr 1 -->


    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Product Spotlight
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/64.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>TANK-801-BT</b></span><br>
      Fanless embedded system with expandable PCI and PCIe slots, Intel(C) Bay-Trail J1900 2 GHz, TDP 10W, 2GB DDR3L pre-installed memory, 1 x DVI-I, 1 x DisplayPort, iRIS-2400 optional, 9 V~36 V DC, RoHs
      &nbsp;<a href="http://www.icpamerica.com/products/chassis/bare_bone/tank_801_bt.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/uploads/product_pdf/TANK-801-BT.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/18.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      iRIS Product Spotlight
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/picmg_13/server_grade/spcie_c2260_i2.html">SPCIE-C2260-i2</a>, Full-size PICMG 1.3 CPU Card supports LGA1150 Intel(C) Xeon(C) E3, Core(Tm) i3, Pentium(C) and Celeron(C) per Intel(C) C226, DDR3, VGA, iDP, Dual Intel(C) PCIe GbE, SATA 6Gb/s, mSATA, PCIe Mini, RS-232, HD Audio, iRIS-2400 and RoHS </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/motherboard/mini_itx/kino_aa750_i2.html">KINO-AA750-i2</a>, Mini-ITX SBC supports Socket FS1r2 AMD R-series APU with A75, DDR3, HDMI, DVI-D, VGA, iDP, Dual Intel(C) PCIe GbE, USB 3.0, SATA 6Gb/s, HD Audio, iRIS-2400 and RoHS </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/LCD_products/industrial_panel_pc/ppc_f15a.html">PPC-F15A</a>, 15” 400 cd/m² XGA Panel PC with Intel(C) H81 chipset,TDP 53W, 2GB RAM*2, support iRIS-2400, black color, PSU ACE-A622A, resistive or projective capacitive touch window. </div>
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/products/single_board_computers/3_5_biscuit/wafer_kbn_i1.html">WAFER-KBN-i1</a>, 3.5” SBC supports AMD(C) Embedded G-Series SoC with VGA/LVDS/iDP, Dual GbE, PCIe Mini, USB 3.0, SATA 6Gb/s, iRIS-1010, HD Audio and RoHS </div>
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->

     

    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">

          <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>

ICP America will be closed 11/27/14 – 11/30/14 for the Thanksgiving Holiday.  We will re-open 12/1/14 at 7:00AM PST.  <br><center><img src='https://origin.ih.constantcontact.com/fs179/1111540182831/img/65.jpg'></center>

</P>
  </td></tr></table>
      <!-- close major 3 -->

      <!-- major 3 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<p style="margin:1px 0px">
<b>EOL Product List</b>
<li>EC-1040 Series<li>ACE-890V<li>KM-088G
</p>

<p style="margin:4px 0px 1px 0px;">
<b>PCN Product List</b>
<li>NANO-QM871<li>UPC-V312<li>IOVU-572M<li>IOVU-430S
</p>
    
  </td></tr></table>
      <!-- close major 3 -->
    

      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
