<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/3.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Mar 2013</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'"><A
      href="http://www.icpamerica.com/products/medical_products/ibs_19a.html" target=_blank>
    <img src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/14.jpg"
      border=0 ></A><o:p></o:p></SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:55%">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#FF0C2A;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:white;">
      Hot Products
  </td></tr></table>

<!-- Hot product 1 -->
<table border=0 style="width:100%;font-family: helvetica, arial;font-size:9pt; color:#123242;margin-bottom:6px;">
  <tr><td colspan=2 style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    <img alt=""  src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/15.jpg" align="right" hspace="10px">

    <span style="font-size:12pt;"><b>IBS-19A</b></span><br>
      19" Interactive Bedside Station Medical Panel PC, with 2GB DDR3 RAM, 320GB HDD, Wireless 802.11a/b/g/n, Touch screen, Slim DVD-RW, AC to DC 19V power adapter, RoHS. 
      &nbsp;<a href="http://www.icpamerica.com/products/medical_products/ibs_19a.html">More detail</a>
      </td></tr>

  <tr style="text-align:center;">
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/4.jpg" > <a href="http://www.icpamerica.com/files/IBS-19A_20130305.pdf">Datasheet</a>
    </td>
    <td style="width:50%">
      <img hspace=3 src="https://origin.ih.constantcontact.com/fs179/1111540182831/img/5.png" > <a href="http://www.icpamerica.com/email_us/default.html">Contact Us</a></td></tr>
  </table>
<!-- close hot product 1 -->


      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
          New Products
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">
<a href=http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_10a_n28.html>AFL2-10A-N28</a>, fanless panel PC<br />
<a href=http://www.icpamerica.com/products/single_board_computers/embedded_systems/tank_820_h61.html>TANK-820-H61</a>, Extend temperature 3-Slot Embedded System<br />
<a href=http://www.icpamerica.com/products/medical_products/ibs_19a.html>IBS-19A</a>, Interactive Bedside Station Medical Panel PC<br />

          </p></span>
        </td></tr></table>


      <!-- major 2 -->
      <table style="width:100%;"><tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      EOL/PCN/TN Notice
  </td></tr></table>

      <table style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">

<b>EOL Product List</b>
<ul style="margin:0px;padding-bottom:4px;">
<li>AFL-W15A-N270/R/1G-R22<li>AFL-W15A-GM45-CM5/R/1G-R23<li>AFL-W15A-GM45-P84/R/2G-R23<li>AFL-W15A-GM45-T94/R/2G-R23
</ul>

<b>PCN Product List</b>
<ul style="margin:0px;">
<li>CF-1156B-RS<li>CF-479B-RS-R11<li>MK-KTP7AB-EN-RS<li>AFL-057A-Z510/R/1G-R11<li>AFL-057A-Z530/R/1G-R11
</ul>
    
  </td></tr></table>
      

    </td>


      <!-- right column -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;">

      <!-- major 1 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#6376FF;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:cyan;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<p style='margin:3px 0px;'>
<b>The latest in Medical Computing Products...</b><br>
</p><p style='margin:2px 0px;'>
<i>Bedside Infotainment + Point of Care = Interactive Bedside Station</i></br>
</p><p style='margin:3px 0px;'>
The Interactive Beside Station or IBS series is designed to improve both patient experiences and clinical efficiency with unique features. The combination of high performance computing capability and the unique LED Dash Light design offers the hospitals with endless possibilities in bedside entertainment , patient care and clinical management. The IBS-19A is the first product in our IBS Series to be released, for product details use the following link: <a href='http://www.icpamerica.com/products/medical_products/ibs_19a.html'>ibs_19a.html</a>
</p><p style='margin:3px 0px;'>
Contact our Sales Department for Pricing and Availability on the IBS-19A Series at: 877.293.2000 or <a href='mailto:sales@icpamerica.com'>sales@icpamerica.com</a>
</p>


</P>
  </td></tr></table>


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:#96526B;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:#96526B">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
