<table cellpadding=0 cellspacing=0 style="width:680px;border:solid 1px lightgrey;" align=center>
  <tr><td><!-- claim -->

        </td></tr>
        
  <tr><td><!-- tab 1 -->

      <table cellSpacing=0 cellPadding=0 width="100%" border=0>
        <tbody>
        <tr>
          <td style="color:darkgreen;font-weight:bold;padding:0px;vertical-align:top;text-align:center;">
                <img src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/logo_icpa.gif" width="648" height="92">
          </td></tr><tr><td style="text-align:right;padding:0px 48px 0px 0px;font-weight:bold;font-family:Helvetica, Arial">Jul 2014</td>
        </tr>
        </tbody></table>


      <table cellSpacing=6px cellPadding=0 width="100%" align=center border=0>
        <tbody>
        <tr vAlign=top><!-- big image tr 1 -->
          <td colspan=2>
        <P style="TEXT-ALIGN: center" align=center><SPAN style="FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 'Arial','sans-serif'">
    
          </SPAN></P>
        </td></tr> <!-- close tr 1 -->

    <tr><!-- tr containing major 1, 2 -->

      <!-- left column -->
      <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt;color:#123242;vertical-align:top;padding:6px 6px 6px 10px;width:348px">


      
      <!-- major 1 -->
      
      
      <!-- major 2 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#B5E80F;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:darkgreen;">
      System Spotlight
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
    
          <span class="right_nav"><p class="">
          ICP America provides All-In-One System Solutions. From Digital Signage to Patient Bedside Care to Mobile Fleet Management, our products provide our customers with a highly integrated proven solution.
          <br>
<div style="clear:both;"><a href="http://www.icpamerica.com/uploads/product_pdf/IDS-200-A70M_0214.pdf"><img style="border:0px; margin-bottom:-2px;" src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/pdficon.jpg" ></a>&nbsp;<a href="http://www.icpamerica.com/products/single_board_computers/embedded_systems/ids_200_a70m.html">IDS-200-A70M</a>, <img style="float:right;"src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/ids200.jpg"><br>Fanless intelligent digital signage embedded system, AMD(R) APU, TDP 17W, 4GB DDR3 SO-DIMM (2 x 2GB) pre-installed, 4 x HDMI, iRIS-2400 preinstalled, 10V~30V DC input </div>
  
  
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/uploads/product_pdf/AFL2-10A-N28_20130204.pdf"><img style="border:0px; margin-bottom:-2px;" src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/pdficon.jpg" ></a>&nbsp;<a href="http://www.icpamerica.com/products/LCD_products/embedded_panel_PC/afl2_10a_n28.html">AFL2-10A-N28</a>, <img style="float:left;"src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/afl2.jpg"><br>10.4" 400cd/m2 SVGA fanless panel PC with Intel(R) Atom(TM) cedarview N2800 dual core 1.86GHz, 802.11b/g/n wireless module, resistive touch screen,2M camera, microphone </div>
  
  
  <br />
<div style="clear:both;"><a href="http://www.icpamerica.com/uploads/product_pdf/IBS-19A_20130305.pdf"><img style="border:0px; margin-bottom:-2px;" src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/pdficon.jpg" ></a>&nbsp;<a href="http://www.icpamerica.com/products/medical_products/ibs_19a.html">IBS-19A</a>, 19" Interactive Bedside Station Medical Panel PC, with 2GB DDR3 RAM, 320GB HDD, Wireless 802.11a/b/g/n, Touch screen, Slim DVD-RW, AC to DC 19V power adapter, RoHS. </div>
  
  
  <br />
<div style="clear:both;"><a href="http://www.icpmobile.com/datasheets/ICELOG-07.pdf"><img style="border:0px; margin-bottom:-2px;" src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/pdficon.jpg" ></a>&nbsp;<a href="http://www.icpmobile.com/icelog07.htm">ICELOG-07</a>, <img style="float:right;"src="http://www.icpamerica.com/download/icpanews/Jul 2014/news_support_files/icelog.jpg"><br>The ICELOG Mobile Elite Manager is powered by the Freescale(TM) i.MX6 Cortex(TM)-A9 quad-core 1 GHz processor. The ICELOG has been designed with GPS, NFC, Wireless, 3G and Bluetooth to meet multiple purposes. </div>
  
  
  <br />

          </p></span>
        </td></tr></table>
      <!-- close major 2 -->


    </td>


      <!-- ___________________ right column ________________________ -->

    <td style="FONT-FAMILY: Helvetica, Arial, sans-serif; font-size:10pt; color:#123242; vertical-align:top;padding:6px 10px 6px 0px;width:300px">


      <!-- major 3 -->
      <table style="width:100%"><tr><td style="padding:6px;background-color:#9DE5E8;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:midnightblue;">
      News
  </td></tr></table>

      <table border=0 style="width:100%"><tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
      <P>


<i>ICP America Year End Party:</i><br>
August 15, 2014 our office will be closing<br>at 11AM PST<br><br>

<i>ICP America’s Day at the Races:</i><br>
August 22, 2014 our office will be closing<br> at 2:30PM PST


</P>
  </td></tr></table>
      <!-- close major 3 -->


      <!-- major 3 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#FFBF01; font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          Request a Quote
        </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <span class="right_nav"><p class="">Submit a quote request online &amp; have a sales engineer contact you for a price quote or system configuration.<br /><font class="cmx-RightAlign" style="width: 12px; height: 16px;" color="#0000ff" face="cmx" size="-0"></font><a title="Request a Quote" href="http://www.icpamerica.com/custom_quote/default.html">Click Here</a></p></span>

        </td></tr></table>

 
      <!-- major 4 -->
      <table style="width:100%">
        <tr><td style="padding:6px;background-color:#cccccc;font-family:verdana,helvetica, arial;font-weight:bold;font-size:10pt;color:black;">
          <a href="http://www.icpamerica.com/email_us/default.html" style="color:black">Email Us</a>
          </td></tr></table>

      <table style="width:100%">
        <tr><td style="padding:0px 0px 6px 2px;font-family: helvetica, arial;font-size:10pt; color:#123242">
          <a href="mailto:sales@icpamerica.com">sales@icpamerica.com</a><br />
          <a href="mailto:info@icpamerica.com">info@icpamerica.com</a><br />
          <a href="http://www.icpamerica.com/contact_us/default.html">Contact Information</a></p>
          </td></tr></table>



          
    </td>
  </td></tr></table>

</td></tr></table><!-- close the big table -->
